<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cebsambagII.onlineinquiries">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrgySambagIIOnlineInquiries">
        <activity android:name=".SelectedAnnouncementActivity"></activity>
        <activity android:name=".CreateAnnouncementActivity" />
        <activity android:name=".SelectedComplainantMessageActivity" />
        <activity
            android:name=".ViewAnnouncementList"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ViewComplaintList" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>